.cla {
	color: rgba(0, 0, 0, 0.849);
}

.green {
	color: rgb(15, 114, 11);
}
.blue {
	color: rgb(10, 10, 71);
}
.gold {
	color: rgba(212, 188, 50, 0.76);
}
.asd {
	color: #1f3a5c;
}
.ddd {
	color: #17628b34;
}

.white {
	color: rgba(80, 78, 78, 0.363);
}

.Darkgold {
	color: rgba(153, 136, 40, 0.336);
}

.lightBlue {
	color: #2296f3;
}

.lightWhite {
	color: rgb(255, 252, 241);
}

.green {
	color: #cca1293f;
}

.darkerWhite {
	color: #28486e6b;
}
