.cla{
    color:rgba(0, 0, 0, 0.384)
}

.green{
    color: rgba(17, 173, 17, 0.438);
}
.blue{
    color: rgb(10, 10, 71);
}
.gold{
    color: rgba(212, 188, 50, 0.76);
}
.asd{
    color: #0d1825;
}
.ddd{
    color: #2e4857;
}

.white{
    color: rgba(255, 255, 255, 0.466);
}