.cla {
	color: rgba(0, 0, 0, 0.849);
}

.green {
	color: rgba(80, 185, 77, 0.747);
}
.blue {
	color: rgb(10, 10, 71);
}
.gold {
	color: rgba(212, 188, 50, 0.438);
}
.asd {
	color: #19898d4d;
}
.ddd {
	color: #17628b34;
}

.white {
	color: rgba(80, 78, 78, 0.363);
}

.Darkgold {
	color: rgba(153, 136, 40, 0.336);
}

.lightBlue {
	color: #2295f3;
}

.lightWhite {
	color: rgb(255, 252, 241);
}

.green {
	color: #d6a51d;
}

.darkerWhite {
	color: #28486e6b;
}
